.invoice-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
.invoice-table__no-invoices {
  text-align: center !important;
  font-weight: 500;
  font-size: 16px;
  color: #313538 !important;
}
.invoice-table thead tr:nth-child(1) {
  cursor: default;
}
.invoice-table th:nth-child(1) {
  border-right: none;
}
.invoice-table th:nth-child(2) {
  border-left: none;
}
.invoice-table tr {
  cursor: pointer;
}
.invoice-table tr > td:nth-child(1) {
  font-size: 17px;
  color: #ce462e;
  border-right: none;
  padding-right: 0;
  text-align: right;
}
.invoice-table tr > td:nth-child(2) {
  font-weight: 500;
  border-left: none;
}
.invoice-table tr > td:nth-child(4),
.invoice-table tr > td:nth-child(5) {
  color: #5e6a73;
  white-space: nowrap;
}
.invoice-table tr > td:nth-child(6) {
  font-weight: 600;
  white-space: nowrap;
}
.invoice-table tr > td:nth-child(7) {
  font-weight: 500;
  text-align: center;
}

.invoice-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoice-table-header__btn {
  margin-right: 30px !important;
}

.invoice-table-filters {
  margin: 0 20px;
}
.invoice-table-filters button {
  border: 0;
  background: 0 0;
  color: #909599;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  border-bottom: 4px solid transparent;
  border-radius: 0;
  padding: 12px 15px 6px;
  margin: 0;
  cursor: pointer;
}
.invoice-table-filters button:hover {
  color: #3398bd;
}
.invoice-table-filters button.selected {
  color: #3398bd;
  border-bottom: 4px solid #3398bd;
}

h2 {
  color: #3398bd;
}

.buttonfilterinvoicetable {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.25%;
  margin-left: 5%;
}

.buttonfilterinvoicetable button {
  background-color: #f5f6f9;
  border: 1px solid #3398bd;
  color: #3398bd;
  font-size: 14px;
  padding: opx;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  scale: 0.85;
}
.buttonfilterinvoicetable button:hover {
  background-color: #3398bd;
  color: #f5f6f9;
}

.buttoncreateinvoicetable {
  background-color: #f5f6f9;
  border: 1px solid #3398bd;
  color: #3398bd;
  font-size: 14px;
  padding: opx;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  scale: 0.85;
}

.buttoncreateinvoices {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: #f5f6f9;
  font-size: 14px;
  padding: opx;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.buttoncreateinvoices:hover {
  background-color: #f5f6f9;
  color: #3398bd;
}
.buttoncreateinvoices:hover__btn {
  margin-right: 30px !important;
}
.buttoncreateinvoices:hover__filters {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.25%;
  margin-left: 5%;
}
.buttoncreateinvoices:hover__filters button {
  background-color: #f5f6f9;
  border: 1px solid #3398bd;
  color: #3398bd;
  font-size: 14px;
  padding: opx;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  scale: 0.85;
}
.buttoncreateinvoices:hover__filters button:hover {
  background-color: #3398bd;
  color: #f5f6f9;
}/*# sourceMappingURL=InvoiceTable.css.map */