.user__infos {
  display: flex;
  flex-direction: column;
  border: 1px dashed #222;
  border-radius: 0.5rem;
  max-width: 450px;
  overflow: hidden;
}
.user__infos input {
  border: none;
  padding: 0.5rem;
  flex: 1 0 auto;
  background: transparent;
  color: #5e6a73;
}
.user__infos > *:not(:last-child) {
  border-bottom: 1px dashed #222;
}

.user__infos__select {
  margin: 0 0 1rem 0;
  font-size: large;
  border: none;
  border-bottom: 1px solid #5e6a73;
  color: #5e6a73;
  width: 100%;
  text-align: center;
}

.user__infos__inline {
  display: flex;
}
.user__infos__inline input:not(:last-child) {
  border-right: 1px dashed #222;
}
.user__infos__inline input[type="number"] {
  max-width: 6rem;
}

@media screen and (max-width: 400px) {
  .user__infos__inline {
    flex-direction: column;
  }
  .user__infos__inline input:not(:last-child) {
    border-right: none;
    border-bottom: 1px dashed #222;
  }
  .user__infos__inline input[type="number"] {
    max-width: 100%;
  }
}
