@import "../../styles/vars.scss";

.client-table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;

  &__business-name:hover {
    color: $second-color;
  }

  &__empty {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
  }

  tbody {
    cursor: pointer;
  }

  th,
  td {
    p {
      margin: 0;
      font-size: 12px;

      &:first-child {
        font-weight: 600;
      }

      &:last-child {
        color: #aaa;
      }
    }
  }
}
