@import "../../styles/vars";
@import "../../styles/mixins";

.modal-client-header {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.client-form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.client-form {
  padding: 10px 0;
  display: flex;

  @include medium-screen {
    flex-direction: column;
    margin: auto;
    width: 400px;
  }

  &__info {
    color: #aaa;
    position: absolute;
    right: 30px;

    span {
      color: $alert-color;
    }
  }

  &__row1 {
    display: flex;
    flex-direction: column;
    padding: 60px 30px 30px 30px;
    width: 50%;

    @include medium-screen {
      width: 100%;
      padding: 60px 0 30px 0;
      border-bottom: 1px solid #e5e5e5;
    }

    label {
      font-weight: 600;
      margin-top: 14px;

      span {
        color: $alert-color;
      }
    }

    input,
    select {
      margin-top: 10px;
      margin-bottom: 6px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e5e5e5;
    }

    p {
      color: $alert-color;
      margin: 0px;
    }
  }

  &__row2 {
    display: flex;
    flex-direction: column;
    padding: 60px 30px 30px 30px;
    width: 50%;

    @include medium-screen {
      width: 100%;
      padding: 20px 0;
    }

    label {
      font-weight: 600;
      margin-top: 14px;

      span {
        color: $alert-color;
      }
    }

    input {
      margin-top: 10px;
      margin-bottom: 6px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e5e5e5;
    }

    p {
      color: $alert-color;
      margin: 0 0 14px;
    }
  }

  &__submit {
    width: 140px;
    margin: -82px 32px 40px auto !important;

    @include medium-screen {
      margin: 0 auto 40px !important;
      width: 400px;
    }
  }
}
