@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

$main-color: #212a2b;
$second-color: #3398bd;
$selected-second-color: #62b8d8;
$text-color: #313538;
$disable-text-color: #767676;
$alert-color: #e66b55;
$sucess-color: #80ee96;
$bg-color: #f5f6f9;

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: $text-color;
  margin: 0;
  background-color: $bg-color;
}

#root {
  display: flex;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
