$main-color: #212a2b;
$second-color: #3398bd;
$second-color-dark: #0f526b;
$selected-second-color: #62b8d8;
$text-color: #313538;
$text-color-light: #5e6a73; // ex text-color-disable
$alert-color: #e66b55;
$sucess-color: #80ee96;
$bg-color: #f5f6f9;
