$main-color: #212a2b;
$second-color: #3398bd;
$second-color-dark: #0f526b;
$selected-second-color: #62b8d8;
$text-color: #313538;
$text-color-light: #5e6a73; // ex text-color-disable
$alert-color: #ce462e;
$alert-color-light: #f8eeec;
$alert-color-dark: #5a0f02;
$sucess-color: #6cbb7c;
$sucess-color-light: #e7f6ea;
$sucess-color-dark: #0a3c14;
$bg-color: #f5f6f9;
