@import "../../styles/vars.scss";

.modal-society-header {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.modal-society-body {
  &__item {
    padding: 12px 20px 12px 60px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color-light;

    &:hover {
      background: #f3f5f7;
    }

    &--active {
      width: 12px;
      height: 12px;
      border-radius: 100px;
      display: inline-block;
      background: $sucess-color;
    }
  }
}
