@import "../../styles/vars.scss";

.modal-society-header {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;

  &__btn {
    font-size: 28px !important;
    line-height: 34px !important;
    width: 36px !important;
    height: 34px !important;
    padding: 0 !important;
    margin-left: -16px !important;
  }
}

.modal-society-item-container {
  position: relative;
  display: flex;

  &:hover {
    background: #f3f5f7;
  }

  &:hover .modal-society-item-options {
    display: flex;
  }
}

.modal-society-body {
  &__item {
    padding: 12px 20px 12px 60px;
    //border-bottom: 1px solid #e5e5e5;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $text-color-light;

    &--active {
      width: 12px;
      height: 12px;
      border-radius: 100px;
      display: inline-block;
      background: $sucess-color;
      margin-left: 6px;
    }

    &--empty {
      cursor: default !important;
    }
  }

  .modal-society-item-options {
    display: none;
    position: absolute;
    right: 6px;
    top: 3px;
    z-index: 10;

    &__trash {
      width: 17px !important;
      height: 15px !important;
      padding: 10px !important;
    }
  }
}
