@import "../../styles/global.scss";

.left-navbar {
  width: 215px;
  height: 100%;
  background-color: $main-color;
  color: white;

  &__society {
    padding-left: 15px;
    border-top: 1px solid #171e1f;
    border-bottom: 1px solid #171e1f;
    width: calc(100% - 15px);
    height: 56px;
    line-height: 26px;
  }

  &__society:hover {
    background-color: #171e1f;
  }

  &__item {
    margin: 10px;
    padding: 3px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    height: 34px;
    width: calc(100% - 30px);

    p {
      text-align: center;
      line-height: 4px;
    }

    a {
      display: none;
      position: absolute;
      top: 50%;
      right: 3px;
      width: 34px;
      height: 32px;
      background-color: $selected-second-color;
      text-align: center;
      transform: translateY(-16px);
      line-height: 34px;
      border-radius: 5px;
      font-size: 22px;
    }
  }

  &__item:hover {
    background-color: $second-color;
  }

  &__item:hover a {
    display: block;
  }
}
