@import "../styles/vars";

footer {
  display: flex;
  position: static;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2rem;
  margin-top: auto;
}

.footer_link {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-around;

  & > a {
    &:hover {
      color: $second-color;
    }
  }
}
