@import "../styles/vars";

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 10px auto 10px;
  padding: 0px 10px;
  width: calc(100% - 40px);
  font-size: 14px;

  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 10px 0 20px;

    & > a {
      padding: 2px 6px;

      &:hover {
        color: $second-color;
        font-weight: 500;
      }
    }
  }
}
