.indexRegister {
  max-width: 100%;
}

.monthSelect,
.yearSelect {
  width: calc(100% - 2rem);
  background-color: #333;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  max-width: 800px;
}

@media screen and (min-width: 800px) {
  .monthSelect,
  .yearSelect {
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .monthSelect {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .yearSelect {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.monthSelect span {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
}

.monthSelect span.selected {
  background-color: #62b8d8;
  color: white;
}

.yearSelect select {
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
}
