.buttonnewsociety {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 12px;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  top: 6rem;
}

.societycontainer {
  display: flex;
  flex-direction: column;
  margin: 2%;
  box-shadow: 0px 0px 3px #3398bd;
  padding: 2%;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonnewsociety {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 12px;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  top: 6rem;
}

.main_indexsocieties {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}

.companylist {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  height: auto;
  width: 100%;
  border-radius: 5px;
  line-height: 3.5rem;
}

.singlecompany {
  padding-left: 3%;
}
.singlecompany:hover {
  background-color: #f5f6f9;
}

.error-message {
  color: #ea4a2e;
  font-size: 14px;
}

.createsocietyinput {
  margin-top: 2%;
}

.create-society-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.create-society-form-container__info {
  margin: 0 30px 20px auto;
  color: #aaa;
}
.create-society-form-container__info span {
  color: #ea4a2e;
}

.create-society-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-society-form-rows {
  display: flex;
}
@media only screen and (max-width: 950px) {
  .create-society-form-rows {
    flex-direction: column;
    align-items: center;
  }
}
.create-society-form-rows__row1, .create-society-form-rows__row2 {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
  width: 50%;
}
.create-society-form-rows__row1 label, .create-society-form-rows__row2 label {
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-top: 14px;
}
.create-society-form-rows__row1 label span, .create-society-form-rows__row2 label span {
  color: #ea4a2e;
}
.create-society-form-rows__row1 input,
.create-society-form-rows__row1 select, .create-society-form-rows__row2 input,
.create-society-form-rows__row2 select {
  margin-bottom: 6px;
  width: 100%;
  height: 28px;
  padding: 4px;
  border: none;
  border-bottom: 1px solid;
  font-size: 14px;
}

.create-society-form button {
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 1300px) {
  .companylist {
    scale: 0.8;
  }
}
.headershowsociety {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  color: #3398bd;
}

.buttoneditsociety {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.displayshowsociety {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h4 {
  display: inline;
  color: #3398bd;
}

.leftinfosociety {
  margin-top: 2%;
  position: relative;
  top: 20%;
  box-shadow: 0px 0px 3px #3398bd;
  max-height: 13.5rem;
  padding: 2%;
  align-items: center;
  border-radius: 5px;
  line-height: 2rem;
  background-color: #f5f6f9;
}

.indexinvoicesshowsociety {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #3398bd;
  overflow: scroll;
  padding: 2%;
  background-color: #f5f6f9;
}

.indexclientsshowsociety {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #3398bd;
  margin-top: 2%;
  background-color: #f5f6f9;
}

.graph_showsociety {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px #3398bd;
  background-color: #f5f6f9;
  margin-bottom: 2%;
}

.graph_showsociety select {
  background-color: #3398bd;
  text-align: center;
  margin: 2%;
  border: 2px dotted #3398bd;
  color: white;
}

.large_graph_showsociety {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 70%;
  box-shadow: 0px 0px 3px #3398bd;
  background-color: #f5f6f9;
}

.large_graph_showsociety select {
  background-color: #3398bd;
  text-align: center;
  margin: 2%;
  border: 2px dotted #3398bd;
  color: white;
}

.display_edit_and_new_societycontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  width: 60%;
  min-height: 80%;
  background-color: #f5f6f9;
  text-align: center;
  line-height: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #3398bd;
  z-index: 999;
}

.buttonedit {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  scale: 0.8;
}

.savebuttoneditsociety {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.savebuttoneditsociety:hover {
  background-color: #62b8d8;
}

.deletebuttonsociety {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.deletebuttonsociety:hover {
  background-color: #62b8d8;
}

h4 {
  display: inline;
}

.closetag {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 10px;
  scale: 1.2;
  background-color: #3398bd;
}
.closetag:hover {
  border-radius: 2px;
}/*# sourceMappingURL=society.css.map */