@import "../../styles/vars";
@import "../../styles/mixins";

.buttonnewsociety {
  background-color: $second-color;
  border: 1px solid $second-color;
  color: white;
  font-size: 12px;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  top: 6rem;
}

////////////////////////////////////////indexsocieties
.societycontainer {
  display: flex;
  flex-direction: column;
  margin: 2%;
  box-shadow: 0px 0px 3px $second-color;
  padding: 2%;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonnewsociety {
  background-color: $second-color;
  border: 1px solid $second-color;
  color: white;
  font-size: 12px;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  top: 6rem;
}

.main_indexsocieties {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}

.companylist {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  height: auto;
  width: 100%;
  border-radius: 5px;
  line-height: 3.5rem;
}

.singlecompany {
  padding-left: 3%;
  &:hover {
    background-color: #f5f6f9;
  }
}

.error {
  color: rgb(255, 0, 0);
  font-weight: 800;
}

//////////////////////////////////////////createsociety

.create-society-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 10px;

  &__info {
    margin: 0 30px 20px auto;
    color: #aaa;

    span {
      color: $alert-color;
    }
  }
}

.create-society-form {
  display: flex;
  flex-direction: column;
  width: 650px;
}

.create-society-form-rows {
  display: flex;

  @include medium-screen {
    flex-direction: column;
    align-items: center;
  }

  &__row1,
  &__row2 {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
    width: 50%;

    label {
      line-height: 1.5em;
      font-size: 18px;
      font-weight: 500;
      text-align: left;

      span {
        color: $alert-color;
      }
    }

    input,
    select {
      margin-bottom: 34px;
      width: 100%;
      height: 28px;
      padding: 4px;
      border: none;
      border-bottom: 1px solid;
      font-size: 14px;
    }
  }
}

.create-society-form button {
  margin: auto !important;
}

@media only screen and (max-width: 1300px) {
  .companylist {
    scale: 0.8;
  }
}

/////////////////////////////////////////////////////////ShowSosiety

.headershowsociety {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.buttoneditsociety {
  background-color: $second-color;
  border: 1px solid $second-color;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.displayshowsociety {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h4 {
  display: inline;
}

.leftinfosociety {
  margin-top: 2%;
  position: sticky;
  top: 20%;
  box-shadow: 0px 0px 3px $second-color;
  max-height: 13.5rem;
  padding: 2%;
  align-items: center;
  border-radius: 5px;
  line-height: 2rem;
}

.indexinvoicesshowsociety {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px $second-color;
  height: 20rem;
  overflow: scroll;
  padding: 2%;
}

.indexclientsshowsociety {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px $second-color;
  margin-top: 2%;
}

/////////////////////////////////////////////////////// Edit society

.displayeditsocietycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: -6%;
  width: 80%;
  height: 80%;
  background-color: $bg-color;
  text-align: center;
  line-height: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 3px $second-color;
}

.buttonedit {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  scale: 0.8;
}

.savebuttoneditsociety {
  background-color: $second-color;
  border: 1px solid $second-color;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;

  &:hover {
    background-color: #62b8d8;
  }
}

.deletebuttonsociety {
  background-color: $second-color;
  border: 1px solid $second-color;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;

  &:hover {
    background-color: #62b8d8;
  }
}

h4 {
  display: inline;
}

.closetag {
  position: relative;
  top: -46%;
  left: 23%;
  border-radius: 10px;
  padding-bottom: 2px;
  scale: 1.2;

  &:hover {
    border-radius: 5px;
  }
}
