@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #313538;
  margin: 0;
  background-color: #f5f6f9;
}

#root {
  display: flex;
  height: auto;
}

main {
  width: 100%;
  z-index: 100;
  background-color: #f5f6f9;
  margin-top: 69px;
  margin-left: 230px;
  transition: margin-left 0.3s ease;
}
@media only screen and (max-width: 950px) {
  main {
    margin-left: 0px;
  }
}

main.hamburger-opened {
  margin-left: 230px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 30px;
}

.btn {
  width: 120px;
  background-color: #3398bd;
  color: #fff !important;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  font-weight: 400;
  line-height: 28px;
  margin: 10px 5px;
  border: 1px solid #0f526b;
}
.btn:hover {
  filter: opacity(0.8);
}
.btn--no-bg {
  background-color: transparent;
  color: #0f526b !important;
  font-weight: 500;
}

footer {
  display: flex;
  position: relative;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.societycontainer {
  padding-left: 3rem;
  min-height: 40rem;
}

.buttonnewsociety {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 12px;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 5%;
  top: 6rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  padding: 3%;
}

.companylist {
  position: relative;
  align-items: center;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  height: auto;
  border-radius: 5px;
  line-height: 3.5rem;
}

.error {
  color: rgb(255, 0, 0);
  font-weight: 800;
}

.createsocietyform {
  display: flex;
  position: relative;
  right: 0;
  justify-content: center;
  text-align: center;
  line-height: 2rem;
}

.createsocietyform button {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4rem;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1300px) {
  .createsocietyform {
    scale: 0.8;
  }
  .companylist {
    scale: 0.8;
  }
}
.headershowsociety {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.backtosocietes {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.displayshowsociety {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h4 {
  display: inline;
}

.leftinfosociety {
  margin-top: 2%;
  position: sticky;
  top: 20%;
  box-shadow: 0px 0px 3px #3398bd;
  max-height: 13.5rem;
  padding: 2%;
  align-items: center;
  border-radius: 5px;
  line-height: 2rem;
}

.indexinvoicesshowsociety {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #3398bd;
  height: 20rem;
  overflow: scroll;
  padding: 2%;
}

.indexclientsshowsociety {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #3398bd;
  margin-top: 2%;
}

.displayeditsocietycontainer {
  border: 2px red solid;
  display: flex;
  position: fixed;
  background-color: #f5f6f9;
  padding: 5%;
  text-align: center;
  line-height: 2rem;
}

.buttoneditsociety {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.deletebuttonsociety {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

h4 {
  display: inline;
}/*# sourceMappingURL=society.css.map */