.societycontainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px #3398bd;
  padding: 2%;
  border-radius: 5px;
  height: 20rem;
  background-color: #f5f6f9;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.buttonnewsociety {
  position: relative;
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.main_indexsocieties {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  overflow: scroll;
  border-radius: 5px;
}

.companylist {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  height: auto;
  width: 100%;
  border-radius: 5px;
  line-height: 3.5rem;
}

.companylist li {
  text-align: center;
  box-shadow: 0px 0px 10px 1px #3398bd;
  margin-top: 10px;
  margin-bottom: 10px;
}

.companylist li a:hover {
  color: #3398bd;
}

.error-message {
  color: #ea4a2e;
  font-size: 14px;
}

.new_societycontainer {
  position: relative;
  top: -70%;
  background-color: #f5f6f9;
  border-radius: 5px;
  box-shadow: 0px 0px 1000px 100px #3398bd;
}

.createsocietyinput {
  margin-top: 2%;
}

.create-society-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.create-society-form-container__info {
  margin: 0 30px 20px auto;
  color: #aaa;
}
.create-society-form-container__info span {
  color: #ea4a2e;
}

.create-society-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-society-form-rows {
  display: flex;
}
@media only screen and (max-width: 950px) {
  .create-society-form-rows {
    flex-direction: column;
    align-items: center;
  }
}
.create-society-form-rows__row1, .create-society-form-rows__row2 {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
  width: 50%;
}
.create-society-form-rows__row1 label, .create-society-form-rows__row2 label {
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-top: 14px;
}
.create-society-form-rows__row1 label span, .create-society-form-rows__row2 label span {
  color: #ea4a2e;
}
.create-society-form-rows__row1 input,
.create-society-form-rows__row1 select, .create-society-form-rows__row2 input,
.create-society-form-rows__row2 select {
  margin-bottom: 6px;
  width: 100%;
  height: 28px;
  padding: 4px;
  border: none;
  border-bottom: 1px solid;
  font-size: 14px;
}

.create-society-form button {
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 1300px) {
  .companylist {
    scale: 0.8;
  }
}
.headershowsociety {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  color: #3398bd;
}

.displayshowsociety {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h4 {
  display: inline;
  color: #3398bd;
}

.leftinfosociety {
  margin-top: 2%;
  position: relative;
  top: 20%;
  box-shadow: 0px 0px 3px #3398bd;
  max-height: 13.5rem;
  padding: 2%;
  align-items: center;
  border-radius: 5px;
  line-height: 2rem;
  background-color: #f5f6f9;
}

.indexinvoicesshowsociety {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #3398bd;
  overflow: scroll;
  padding: 2%;
  background-color: #f5f6f9;
}

.indexclientsshowsociety {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #3398bd;
  margin-top: 2%;
  background-color: #f5f6f9;
}

.graph_showsociety {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px #3398bd;
  background-color: #f5f6f9;
  margin-bottom: 2%;
}

.graph_showsociety select {
  background-color: #3398bd;
  text-align: center;
  margin: 2%;
  border: 2px dotted #3398bd;
  color: white;
}

.large_graph_showsociety {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 70%;
  box-shadow: 0px 0px 3px #3398bd;
  background-color: #f5f6f9;
}

.large_graph_showsociety select {
  background-color: #3398bd;
  text-align: center;
  margin: 2%;
  border: 2px dotted #3398bd;
  color: white;
}

.display_edit_and_new_societycontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  background-color: white;
  text-align: center;
  line-height: 2rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1000px 100px #3398bd;
  z-index: 999;
  padding: 40px;
  margin: 40px 20px;
  height: calc(100% - 190px);
  overflow: scroll;
}

.buttonedit {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  scale: 0.8;
}

.savebuttoneditsociety {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.savebuttoneditsociety:hover {
  background-color: #62b8d8;
}

.deletebuttonsociety {
  background-color: #3398bd;
  border: 1px solid #3398bd;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.deletebuttonsociety:hover {
  background-color: #62b8d8;
}

h4 {
  display: inline;
}

.closetag {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 20px;
  top: 8px;
  cursor: pointer;
  font-size: 36px;
}
.closetag:hover {
  border-radius: 2px;
}

.edit-society-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 360px;
}
.edit-society-form-container__info {
  margin: 0 0px 20px auto;
  color: #aaa;
}
.edit-society-form-container__info span {
  color: #ea4a2e;
}

.edit-society-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.edit-society-form label {
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-top: 14px;
}
.edit-society-form label span {
  color: #ea4a2e;
}
.edit-society-form input,
.edit-society-form select {
  margin-bottom: 6px;
  width: 100%;
  height: 28px;
  padding: 4px;
  border: none;
  border-bottom: 1px solid;
  font-size: 14px;
}
.edit-society-form__btn {
  width: 160px;
  margin: 30px auto 10px !important;
}
.edit-society-form__delete {
  font-weight: 500;
  cursor: pointer;
  border: none;
  font-size: 16px;
  background: white;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.edit-society-form__delete:hover {
  color: #ea4a2e;
}/*# sourceMappingURL=society.css.map */